/*body {
	/*background-image: linear-gradient(135deg, #4cef1f55, #4cef1f55, #4cef1f55, #477ff755, #477ff755);*/
	/*background-attachment: fixed;
}*/

.main-page-header {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 100%;
	/* padding-top: 10rem; */
}

.main-page-header h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

@media (min-width: 576px) {
	.main-page-header h2 {
		font-size: 2rem;
	}
}

.nav-back-btn {
	position: relative;
	flex-grow: 0;
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 3.5rem;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	color: white;
	top: 0;
}

.nav-back-btn:hover {
  color: white;
}

.navbar-toggler {
	position: relative;
	display: inline-block;
	flex-grow: 0;
}

.bg-brand,
.topnav
{
    background-color: #092839;
}

@media (min-width: 768px) {
	.bg-brand,
	.topnav {
		background-color: #141416;
	}
}

.nav-brand {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	/*width: 100%;*/
}
.logo-container {
	display: inline-block;
	flex-grow: 1;
}

.navbar-toggler {
	width: 3.5rem;
}

.navimg
{
	position: relative;
	display: block;
	width:100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
@media (min-width: 768px)
{
	.navimg
	{
		width: 150px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0;
	}
}
.navbar
{
	/*position: fixed;*/
	top: 0;
	width: 100%;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	/*z-index: 1000;*/
}

.navbar-nav .nav-link {
	font-size: 1.1rem;
	padding: 0.25rem 1rem;
	color: white;
}

.nav-link.active {
	font-weight: bold;
}

.formheader
{
	font-weight: bold;
	letter-spacing: 0.08rem;
	text-decoration: underline;
	color: white;
}

.topnav .formheader {
	text-decoration: none;
	color: white;
}

.form-container
{
	display: grid;
	grid-template-columns: 100%;
	row-gap: 0.5rem;
}
.formbtn
{
	width: 100%;
	font-size: 1.3rem;
}

@media (min-width: 768px)
{
	.form-container
	{
		grid-template-columns: 46% 46%;
		justify-content: space-between;
		row-gap: 2rem;
	}
	.formbtn
	{
		grid-column: 1/span 2;
		/* width: 30%; */
		font-size: 1.3rem;
	}

	.formheader
	{
		font-weight: bold;
		letter-spacing: 0.08rem;
		text-decoration: underline;
		color: black;
	}

}
@media (min-width: 400px)
{

	.formheader
	{
		font-weight: bold;
		letter-spacing: 0.08rem;
		text-decoration: underline;
		color: black;
	}

}

label {
	font-size: 1.2rem;
	/*color: white;*/
	font-weight: bold;
}

.form-check-label
{
	font-size:1.1rem;
	padding:0.3rem;
}
input[type="radio"]
{
	height: 1.3rem;
	width: 1.3rem;
	vertical-align: text-bottom;
}
.form-control
{
	border-radius: 10px;
	border: 2px solid #72787e;
}

.form-control:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.15);
}

body
{
	background-color: #ededed;
}
.submit
{
	border-radius: 10px;
	border: none;
	background-color: #092839;
	font-weight: bold;
	letter-spacing: 0.05rem;
}

.submit:hover {
	background-color: #092839;
}

.submit:active {
	background-color: #092839 !important;
}

.submit:focus {
	background-color: #092839;
}

input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

input[type="file"] {
	padding: 0.5rem 1rem;
	height: unset;
}

.form-group > label.required::after {
	content: '*';
	margin-left: 0.5rem;
}


/* Dropdown */


.sidenav .accordian .sidenav-link .fa {
	font-weight: bold;
	font-size: 1.2rem;
} 

.navbar-nav .accordian {
	padding-left: 1rem;
	padding-right: 1rem;
}

.navbar-nav .accordian-content {
	position: relative;
	background-color: #343438;
	padding: 0 1rem;
}

.navbar-nav .accordian .nav-link:not(.active) {
	color: rgba(255, 255, 255, 0.5);
}

.navbar-nav .accordian .nav-link {
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav .accordian .nav-link .fa {
	font-weight: bold;
	font-size: 1.2rem;
}

.topicons .fa
{
	font-size: 2rem;
}

/*sidenavbar*/

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 0;
  background-color: #141416;
  overflow-x: hidden;
}

.sidenav .nav-brand {
	display: inline-block;
}

.sidenav-index {
	z-index: 100;
}

.main-index {
	padding-bottom: 3rem;
	/*background-image: linear-gradient(135deg, #4cef1f55, #477ff755);*/
	z-index: 50;
}

@media (min-width: 768px) {
	.padding-sidenav {
		padding-left: 300px !important;
	}
	.form-padding-internal {
		padding: 0 150px;
	}
}

.sidenav .sidenav-link {
  padding: 6px 10px 6px 30px;
  text-decoration: none;
  font-size: 1rem;
  color: #ededed;
  display: block;
  opacity: 0.8;
}

.sidenav .sidenav-link.active {
	font-weight: bold;
	opacity: 1;
}

.sidenav .nav-brand {
  padding: 6px 8px 6px 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.topnav .formheader,
.topnav .user
{
	display: none;
}

.topnav {
	padding: 0.5rem 1rem 0.7rem;
}

.topnav .search {
	display: block;
	width: 100%;
	border-radius: 2rem;
	border: none;
	font-size: 1.3rem;
	padding: 0.2rem 1rem;
	outline: none;
}

@media (min-width: 768px) {

	.topnav {
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 1rem 150px;
		/*background-color: aliceblue;*/
		/*justify-content: space-between;*/
		background-color: #092839;
		background-color: #092839;
		/*background-color: #38375e;*/
		/*background-color: #178acc;*/
	}

	.topnav .formheader,
	.topnav .user
	{
		display: block;
	}

	.user
	{
		font-size: 1.5rem;
	}

	.fa-user-circle-o
	{
		font-size: 2rem;
		padding: 0.25rem 0;
		background-color: transparent;
		border: none;
		color: white;
	}
	.fa-user-circle-o:focus {
		outline: none;
	}
	.topnav .search
	{
		display: block;
		width:36%;
		border-radius: 2rem;
		/*border: 1px solid black;*/
		border: none;
		font-size: 1.3rem;
		padding: 0 1rem;
		outline: none;
		margin-left: auto;
		margin-right: 2rem;
	}

}


.user-section {
	display: block;
	margin-top: 0.7rem;
	padding-top: 0.7rem;
	width: 100%;
	border-top: 1px solid white;
}

.user-section h2 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.08rem;
	margin-bottom: 0.7rem;
	padding: 0 1rem;
	opacity: 0.8;
}

.user-section h2,
.user-section a {
	color: white;
	/*margin-left: 0.3rem;*/
}

.user-section a {
	padding: 0.25rem 1rem;
}
textarea.form-control
{
	min-height: 80px;
	max-height: 150px;
	height: 80px;
}

#aadhaar-btn{
	color: #ededed;
	margin-left: 17px;
}